<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Statement in thymeleaf</title>
</head>
<body>
    <h1 style="text-align: center; text-transform: capitalize;">Conditional Statement in thymeleaf</h1>

    <!-- ELVIS OPERATOR(Same as ternary operator) -->
    <h1>User is <span th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'"></span></h1>

    <!-- IF UNLESS -->
    <h1 th:if="${gender} == 'M'">Male</h1>
    <h1 th:unless="${gender} == 'M'">Female</h1>

    <!-- SWITCH -->
    <div th:switch="${#lists.size(numberList)}">
        <h1 th:case="'0'">List is empty</h1>
        <h1 th:case="'1'">List has one element</h1>
        <h1 th:case="'2'">List has two element</h1>
        <h1 th:case="*">List has more than one element</h1>
    </div>
</body>
</html>