<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer th:fragment="footer1">
      <div class="container">
        <h1>Learn coding</h1>
        <h2>Provide Good Content and knowledge</h2>
        <h1>Feel free to contact anytime</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quam qui
          totam eius. Nam consequuntur mollitia in quia rerum blanditiis ea
          itaque quod neque corrupti. Corporis mollitia nam tempora vero!
        </p>
      </div>
    </footer>
  </body>
</html>
