.about-web {
  background-color: var(--background-col);
  padding-top: 10rem;
}
.about-web .about-sub {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-web .about-sub .about-sub1 {
  width: 55%;
  color: var(--text-color);
}

.about-web .about-sub .about-sub1 .about-content-head {
  font-size: 5rem;
}

.about-web .about-sub .about-sub1 .about-content-body {
  font-size: 2.2rem;
}

.about-web .about-sub .about-sub1 .about-content-foot {
  font-size: 2.2rem;
}

.about-web .about-sub .about-sub2 {
  width: 40%;
  height: 100%;
  /* margin-top: 2rem; */
}

.about-web .about-sub .about-sub2 img {
  display: block;
  width: 100%;
  height: 37rem;
  border-radius: 10%;
  border: 1rem solid #333;
}
.about-web .about-sub .about-sub2:hover img {
    transform: scale(1.1);
    filter: grayscale();
  }
@media (max-width: 1250px) {
  .about-web .about-sub {
    width: 900px;
    padding-bottom: 1rem;
  }
  .about-web .about-sub .about-sub1 .about-content-head {
    font-size: 3.5rem;
  }

  .about-web .about-sub .about-sub1 .about-content-body {
    font-size: 2rem;
  }

  .about-web .about-sub .about-sub1 .about-content-foot {
    font-size: 2rem;
  }
  .about-web .about-sub .about-sub2 img {
    height: 30rem;
  }
}
@media (max-width: 916px) {
  .about-web .about-sub {
    width: 700px;
    padding-bottom: 1rem;
  }
  .about-web .about-sub .about-sub1 .about-content-head {
    font-size: 3.5rem;
  }

  .about-web .about-sub .about-sub1 .about-content-body {
    font-size: 1.5rem;
  }

  .about-web .about-sub .about-sub1 .about-content-foot {
    font-size: 1.5rem;
  }
  .about-web .about-sub .about-sub2 img {
    height: 27rem;
  }
}
@media (max-width: 768px) {

  .about-web .about-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 490px;
  }
  .about-web .about-sub .about-sub2 {
    width: 95%;
  }
  .about-web .about-sub .about-sub1 {
    width: 90%;
  }
  .about-web .about-sub .about-sub1 .about-content-head {
    font-size: 6rem;
    text-align: center;
  }

  .about-web .about-sub .about-sub1 .about-content-body {
    font-size: 2.5rem;
  }

  .about-web .about-sub .about-sub1 .about-content-foot {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
  .about-web .about-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 430px;
  }
  .about-web .about-sub .about-sub1 {
    width: 90%;
  }
  .about-web .about-sub .about-sub2 {
    width: 90%;
  }
  .about-web .about-sub .about-sub1 .about-content-head {
    font-size: 5rem;
    text-align: center;
  }
  .about-web .about-sub .about-sub1 .about-content-body {
    font-size: 2rem;
  }

  .about-web .about-sub .about-sub1 .about-content-foot {
    font-size: 2rem;
  }
}
