.feedback-main-container .feedback-section {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  background-color: var(--background-col);
  flex-direction: column;
}
.feedback-main-container .feedback-section .feedback-caption {
  color: var(--text-color);
  font-size: 3.6rem;
  padding-bottom: 3rem;
  padding-top: 7rem;
  font-weight: 500;
  text-align: center;
}
.feedback-main-container .feedback-container {
  width: 800px;
  background: #000;
  box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
  opacity: 0.6;
  border-radius: 50px;
  margin-bottom: 3rem;
}
.feedback-container .feedback-form {
  width: 100%;
  text-align: center;
  padding: 25px 49px;
}
.feedback-form h1 {
  padding: 10px 0;
  color: var(--text-color);
  font-size: 3rem;
}

.feedback-form .id {
  position: relative;
}

.id i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
form .feedback-username,
.feedback-email {
  width: 100%;
  height: 50px;
  margin: 4px 0;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background: #181717;
  padding-left: 15px;
  padding-right: 45px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

form .feedback-textarea {
  padding: 5px 15px;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background: #181717;
  font-size: 20px;
  width: 100%;
  margin: 4px 0;
  color: #fff;
}

form button {
  margin-top: 5px;
  border: none;
  background: #00fff0;
  color: #222;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 3px;
}

form input:focus,
form .feedback-textarea:focus {
  border: 1px solid #00fff0;
  color: #00fff0;
  transition: all 0.3s ease-in-out;
}
form input:focus::placeholder,
form .feedback-textarea:focus::placeholder {
  padding-left: 4px;
  color: #00fff0;
  transition: all 0.3s ease-in-out;
}
form input:focus + i {
  padding-right: 20px;
  color: #00fff0;
  transition: all 0.3s ease-in-out;
}
input{
  text-transform: none;
}
@media (max-width: 850px) {
  .feedback-main-container .feedback-container {
    width: 700px;
  }
  .feedback-main-container .feedback-section .feedback-caption {
    font-size: 2.6rem;
  }
}
@media (max-width: 768px) {
  .feedback-main-container .feedback-container {
    width: 500px;
  }
  .feedback-main-container .feedback-section .feedback-caption {
    font-size: 2.6rem;
    padding-top: 10rem;
  }
}
@media (max-width: 500px) {
  .feedback-main-container .feedback-container {
    width: 400px;
    height: 500px;
    padding-top: 3rem;
  }
  .feedback-main-container .feedback-section .feedback-caption {
    font-size: 3rem;
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  form input {
    margin: 12px 0;
  }
  .feedback-container form {
    padding: 10px 30px;
  }
}
