.frgt-password-email {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-col);
  }
  .verification-box {
    background: #00000085;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }
  .height-adjust{
    height: 490px;
  }
  .frgt-email-form{
      width: 90%;
  }
  .verification-box h1 {
    color: var(--theme-color);
    margin-bottom: 20px;
    font-size: 3.6rem;
    font-weight: 500;
  }
  
  .frgt-email-form .frgt-email-field {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 40px; 
    padding: 1.5rem 2rem 1.5rem 2rem;
    font-size: 1.8rem;
    background: rgb(11, 2, 33);
    color: var(--text-color);
  }
  .frgt-email-form .frgt-password-field{
   margin-bottom: 4px;
   margin-top: 1rem;
  }
  .frgt-email-form .frgt-email-field:focus{
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease-in-out;
  }
  .frgt-email-form .frgt-email-field::placeholder {
    color: rgb(205, 157, 13);
  }
  button.back-button,
  button.verify-button {
    background-color: #000000ce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button.back-button {
    background-color: #000000ce;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .font {
      font-size: 1.7rem;
      color: var(--text-color);
    }
    .frgt-email-form .password-input-container{
      position: relative;
    }

    .frgt-email-form .password-input-container i{
      position: absolute;
      top: 50%;
      right: 19px;
      transform: translateY(-50%);
      font-size: 1.4rem;
      color: var(--theme-color);
    }
    @media(max-width:953px){
        .verification-box {
            width: 700px;;
          }
    }
    @media(max-width:740px){
        .verification-box {
            width: 550px;;
          }
    }
    @media(max-width:574px){
        .verification-box {
            width: 450px;;
          }
    }
    @media(max-width:450px){
        .verification-box {
            width: 400px;
            height: 470px;
          }
          .frgt-password-email {
            min-height: 80vh;
          }
          .frgt-email-form{
            width: 100%;
        }
        .frgt-email-form .frgt-email-field {
            padding: 2rem 2rem 2rem 2rem;
          }
    }