.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-col);
  padding-top: 9rem;
}
.login-wrapper .form-login-wrapper {
  width: 620px;
  background: #00000085;
  border-radius: 10px;
  padding: 30px 40px;
}
.login-wrapper .form-login-wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: var(--theme-color);
  font-weight: 500;
}
.login-wrapper .form-login-wrapper .login-input-box {
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 30px 0;
}
.login-wrapper .form-login-wrapper .login-input-box input {
  width: 100%;
  background: rgb(11, 2, 33);
  text-transform: none;
}
.login-wrapper .form-login-wrapper .login-input-box i {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--theme-color);
}
.login-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: var(--text-color);
  padding: 20px 45px 20px 20px;
}
.login-input-box input::placeholder {
  color: rgb(205, 157, 13);
}
.login-input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
.login-wrapper .form-login-wrapper .remember-forgot {
  display: flex;
  justify-self: start;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot {
  accent-color: rgb(12, 62, 132);
  margin-right: 4px;
}
.remember-forgot a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.remember-forgot a:hover {
  color: var(--theme-color);
}
.login-wrapper .form-login-wrapper button {
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.623);
}
.login-wrapper .form-login-wrapper .register_link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0;
}
.login-wrapper .form-login-wrapper .register_link p {
  color: var(--text-color);
}
.login-wrapper .form-login-wrapper .register_link p a {
  color: var(--emphasis-text);
  transition: all 0.3s ease-in-out;
}

.login-wrapper .form-login-wrapper .register_link p a:hover {
    color: var(--theme-color);
}
.custom-swal-title {
  font-size: 2rem;
}
.custom-swal-confirm-button{
  width: 150px !important; 
}
.custom-swal-popup{
  background-color: black;
  color: var(--text-color);
}
.custom-swal-content{
  font-size: 5rem !important;
}
@media (max-width: 500px) {
  .login-wrapper .form-login-wrapper {
    width: 400px;
    height: 500px;
    padding: 30px 20px;
  }
  .login-input-box input {
    padding: 25px 45px 25px 20px;
  }
  .login-wrapper .form-login-wrapper .remember-forgot {
    margin-top: 5rem;
    margin-left: 2rem;
  }
  .login-wrapper .form-login-wrapper .login-input-box i {
    top: 90%;
    right: 19px;
    transform: translateY(-50%);
    font-size: 2rem;
  }
}

@media(max-width:450px){
    .login-wrapper {
        min-height: 80vh;
      }
}