.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4%;
}

.header .logo {
  color: #fff;
  font-weight: bolder;
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--theme-color);
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--theme-color);
}
.event-btn-margin {
  margin-left: 2rem;
}
.event-btn-margin .event-btn {
  display: inline-block;
  border-radius: 0.5rem;
  background: #4269e9;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  font-weight: 600;
}
.event-btn-margin .event-btn:hover {
  background: #023dff;
  color: #fff !important;
}
#menu-bar {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/* Custom styles for SweetAlert */
.logout-alert-popup {
  width: 100% !important; /* Adjust the width as needed */
  top: -270px !important;
  transform: translate(-50%, 0) !important; /* Center horizontally */
  left: 50% !important;
  padding-bottom: 5rem !important;
  padding-top: 18rem !important;
  margin-left: 0 !important;
  background-color: black;
  color: var(--theme-color);
}
.custom-swal2-title {
  font-size: 3rem !important;
}
/* Custom styles for SweetAlert buttons */
.swal2-confirm{
  margin-right: 2rem !important;
}
.swal2-confirm,
.swal2-cancel {
  min-width: 120px !important; /* Adjust the width as needed */
  font-size: 1.4rem !important;
}
@media (max-width: 1000px) {
  .header .navbar a {
    font-size: 1.5rem;
  }
}
@media (max-width: 793px) {
  #menu-bar {
    display: initial;
  }
  .header {
    padding: 3rem;
  }
  .header .logo {
    font-size: 3.2rem;
  }
  .header .fa-times {
    transform: rotate(360deg);
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }
}
