.parent-private-form {
  background-color: rgb(37, 37, 37);
  margin-top: 4rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}
.private-event-img img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
  border: 1rem solid #272727;
}
.private-event-img:hover img {
  transform: scale(1.1);
  filter: contrast(120%);
}
.parent-private-form .private-form {
  margin: 0 auto;
  width: 94%;
}
.parent-private-form .private-form .private-form-heading {
  padding-top: 2rem;
}
.parent-private-form .private-form .private-form-heading h3 {
  color: var(--text-color);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  /* padding-top: 2rem;
  margin-bottom: 2rem; */
}
.parent-private-form .private-form .private-event-form label {
  display: block;
  color: var(--emphasis-text);
  font-size: 2.5rem;
}
.parent-private-form .private-form .private-event-form select {
  width: 100%;
  padding: 1rem;
  background-color: rgb(27, 27, 27);
  color: var(--text-color);
  font-size: 2.2rem;
}
.facilities {
  margin-top: 2rem;
}
.parent-private-form .private-form .private-event-form .submit-btn {
  width: 20%;
}
.parent-private-form .private-form .private-event-form .venue-details label {
  display: inline;
}
.parent-private-form .private-form .private-event-form .venue-details input {
  display: inline;
  border: none;
  outline: none;
  background: none;
  color: var(--text-color);
  padding-left: 2rem;
  font-size: 2.2rem;
}
.parent-private-form .private-form .private-event-form input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  accent-color: black;
  padding: 0;
}
.parent-private-form .private-form .private-event-form .capacity input {
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  color: #fff;
  background: #333;
  font-size: 2rem;
}
.option-select {
  color: var(--text-color) !important;
}
.parent-private-form
  .private-form
  .private-event-form
  .date-input-container
  input {
  width: 50%;
  padding: 1rem;
  text-transform: none;
  background: #333;
  color: var(--text-color);
  font-size: 2rem;
}
.event-describe-count{
  position: absolute;
  bottom: 20px;
  right: 9px;
  color: #cac8c8;
  font-size: 14px;
}
@media (max-width: 1211px) {
  .parent-private-form .private-form .private-event-form .submit-btn {
    width: 23%;
  }
}
@media (max-width: 1058px) {
  .parent-private-form .private-form .private-event-form .submit-btn {
    width: 33%;
  }
}
@media (max-width: 845px) {
  .parent-private-form .private-form .private-event-form .submit-btn {
    width: 30%;
  }
}
@media (max-width: 684px) {
    .parent-private-form .private-form .private-event-form .submit-btn {
      width: 47%;
    }
  }
@media (max-width: 500px) {
  .parent-private-form .private-form .private-form-heading h3 {
    font-size: 2.6rem;
  }
  .parent-private-form .private-form .private-event-form label {
    font-size: 2.2rem;
  }
  .parent-private-form .private-form .private-event-form .submit-btn {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .manage-private-event {
    width: 390px;
    margin-left: -60px;
  }
  .parent-private-form {
    width: 390px;
    margin-left: -60px;
  }
  .parent-private-form .private-form .private-form-heading h3 {
    font-size: 2.8rem;
  }
  .parent-private-form .private-form .private-event-form label {
    font-size: 2.2rem;
  }
  .parent-private-form .private-form .private-event-form .submit-btn {
    width: 40%;
  }
}
