@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
  padding: 0px 61px;
}
nav {
  text-align: center;
  background-color: #44444442;
}
a {
  display: inline-block;
  font-size: 29px;
  color: black;
  margin: 14px 23px;
  text-decoration: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
h2{
    border-bottom: 2px solid black;
}