body {
  font-family: Arial, Helvetica, sans-serif;
}
.box-wrapper {
  border: 10px solid #222;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box {
  border: 1px solid #666;
  /* flex-basis works along the main axis. That is its initial length gets set along its main axis. If flex-direction is set to row it works like the width property. Suppose if flex-direction is set to column then it works like the height property. If you apply width with flex-basis when the flex-direction is set to row then it will override the width property because specificity of flex-basis is high. Same is the case of width. */
  flex-basis: 400px;
}
.box1 {
  background: lightblue;
}

.box2 {
  background: lightcoral;
}

.box3 {
  background: lightgrey;
}

.box4 {
  background: lightsalmon;
}

.box5 {
  background: lightslategray;
}
